<!DOCTYPE html>
<html>
	<head>
		<title>InterDrugs Homepage</title>
	</head>
	<body>
		<div>
			<h1>InterDrugs</h1>
		</div>
			<a href='/drugs'> Drugs and Interactions </a>

		<br/>

			<a href='/genes'> Genes </a>

		<br/>
		<a href='http://huiqingao.com/interactingDrugs.ttl'> Download the ontology </a>
		<br/>
		
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>